<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <!-- Menyertakan Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Menyertakan Bootstrap JavaScript dan jQuery (jika Anda menggunakan komponen yang memerlukan JavaScript) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Profil Perusahaan</title>
</head>
<body>
  <%- include('partials/navbar') %>
  <header class="bg-dark text-white text-center py-5">
      <h1>Yoga Arditya Putra</h1>
      <p>Software Enggineer - Informatic Technology Student</p>
  </header>
  
  <div class="container my-5">
      <div class="row">
          <div class="col-md-6">
              <h2>About Me</h2>
              <p>
                I am a committed Informatics Technology student at Pancasila University, Jakarta, currently residing in Bekasi, West Java, Indonesia. My passion is to aspire to become a Software Engineer, with a specific focus on Website Development. I consider myself a lifelong learner, always eager to embrace new knowledge and skills.

              </p>
          </div>
          <div class="col-md-6">
              <h2>Visi dan Misi</h2>
              <p>
                ----
              </p>
              <p>
                  -----
              </p>
          </div>
      </div>
      <div class="row my-5">
          <div class="col-md-12">
              <h2>Contact Me</h2>
              <address>
                  <strong>Alamat:</strong> Bekasi<br>
                  <strong>Telepon:</strong> 0123123123<br>
                  <strong>Email:</strong> <a href="mailto:[Alamat Email Perusahaan Anda]">yoga@gmail.com</a>
              </address>
          </div>
      </div>
  </div>
</body>
</html>